body {
    color: white;
    background-color: black;
    margin: 0px;
}
header{
    border-bottom: solid 2px rgb(0,255,0);
}
section {
    background:LightCoral	;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content:center;
}
div {
    margin-right: 20px;
}
.chamada-texto {
    margin-right: 5%;
}